@{
    Layout = null;
    // taken form template:
    // https://ld-wt73.template-help.com/wt_prod-9978/
}
<html class="wide wow-animation desktop landscape rd-navbar-static-linked" lang="en">
<head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="~/css/Home/googleFonts.css">
    <link rel="stylesheet" href="~/css/Home/fonts.css">

    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <link id="main-styles-link" rel="stylesheet" href="~/css/Home/MainStyles.css">
</head>
<body class=" body-style-1" data-new-gr-c-s-check-loaded="14.1201.0" data-gr-ext-installed="">
    <div class="preloader loaded">
        <div class="preloader-wrap">
            <a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-171x40.png" alt="" width="171" height="40"><img class="brand-logo-light" src="images/logo-inverse-171x40.png" alt="" width="171" height="40"></a>
            <div class="fountainG-wrap">
                <div class="fountainG_1 fountainG"></div>
                <div class="fountainG_2 fountainG"></div>
                <div class="fountainG_3 fountainG"></div>
                <div class="fountainG_4 fountainG"></div>
                <div class="fountainG_5 fountainG"></div>
                <div class="fountainG_6 fountainG"></div>
                <div class="fountainG_7 fountainG"></div>
                <div class="fountainG_8 fountainG"></div>
            </div>
        </div>
    </div>
    <div class="page animated" style="animation-duration: 500ms;">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap" style="height: 139.766px;">
                <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up="false" data-xl-stick-up="false" data-xxl-stick-up="false" data-body-class="body-style-1">
                    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1 toggle-original" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                    <div class="rd-navbar-aside-outer">
                        <div class="rd-navbar-aside">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-171x40.png" alt="" width="171" height="40"><img class="brand-logo-light" src="images/logo-inverse-171x40.png" alt="" width="171" height="40"></a>
                                </div>
                            </div>
                            <div class="rd-navbar-aside-info rd-navbar-collapse toggle-original-elements">
                                <p class="rd-navbar-quote">“Science without religion is lame, religion without science is blind.”</p>
                                <div>
                                    <ul class="list-social-modern">
                                        <li><a class="icon mdi mdi-google" href="#"></a></li>
                                        <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                                        <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                                        <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <div class="rd-navbar-nav-wrap toggle-original-elements">
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item active rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a class="rd-nav-link" href="index.html"><span class="rd-nav-icon mdi mdi-home"></span><span class="rd-nav-title">Home</span></a><span class="rd-navbar-submenu-toggle"></span>
                                        <!-- RD Navbar Dropdown-->
                                        <ul class="rd-menu rd-navbar-dropdown rd-navbar-open-right">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="ufo.html">UFO</a></li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="astrology.html">Astrology</a></li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="astronomy.html">Astronomy</a></li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="laboratory.html">Laboratory</a></li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a class="rd-nav-link" href="about.html"><span class="rd-nav-icon mdi mdi-information"></span><span class="rd-nav-title">About</span></a><span class="rd-navbar-submenu-toggle"></span>
                                        <!-- RD Navbar Dropdown-->
                                        <ul class="rd-menu rd-navbar-dropdown rd-navbar-open-right">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="about.html">About</a></li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="team.html">Team</a></li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="team-member.html">Team Member</a></li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item rd-navbar--has-megamenu rd-navbar-submenu">
                                        <a class="rd-nav-link" href="#"><span class="rd-nav-icon mdi mdi-layers"></span><span class="rd-nav-title">Pages</span></a><span class="rd-navbar-submenu-toggle"></span>
                                        <!-- RD Navbar Megamenu-->
                                        <ul class="rd-menu rd-navbar-megamenu rd-navbar-open-right">
                                            <li class="rd-megamenu-item">
                                                <h4 class="rd-megamenu-title">Elements</h4>
                                                <ul class="rd-megamenu-list">
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid.html">Grid</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and accordions</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                                                </ul>
                                            </li>
                                            <li class="rd-megamenu-item">
                                                <h4 class="rd-megamenu-title">News</h4>
                                                <ul class="rd-megamenu-list">
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="classic-blog.html">Classic Blog</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-blog.html">Grid Blog</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-post.html">Single Post</a></li>
                                                </ul>
                                            </li>
                                            <li class="rd-megamenu-item">
                                                <h4 class="rd-megamenu-title">Gallery</h4>
                                                <ul class="rd-megamenu-list">
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="cobbles-gallery.html">Cobbles Gallery</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-gallery.html">Grid Gallery</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="masonry-gallery.html">Masonry Gallery</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-project.html">Single Project</a></li>
                                                </ul>
                                            </li>
                                            <li class="rd-megamenu-item">
                                                <h4 class="rd-megamenu-title">Pages</h4>
                                                <ul class="rd-megamenu-list">
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="503-page.html">503 Page</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming Soon</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="under-construction.html">Under Construction</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="terms-of-use.html">Terms of Use</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="sitemap.html">Sitemap</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                                                    <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-service.html">Single Service</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" href="contacts.html"><span class="rd-nav-icon mdi mdi-email"></span><span class="rd-nav-title">Contacts</span></a>
                                    </li>
                                </ul>
                                <ul class="rd-navbar-list-link">
                                    <li><a href="ufo.html">Ufology</a></li>
                                    <li><a href="astronomy.html">Astronomy</a></li>
                                    <li><a href="astrology.html">Astrology</a></li>
                                    <li><a href="laboratory.html">Science Laboratory</a></li>
                                </ul>
                            </div>
                            <!-- RD Navbar Search-->
                            @* <div class="rd-navbar-search toggle-original-elements">
                                <button class="rd-navbar-search-toggle rd-navbar-fixed-element-2 toggle-original" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                                <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                                    <div class="form-wrap">
                                        <label class="form-label rd-input-label" for="rd-navbar-search-form-input">Search</label>
                                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                                        <div class="rd-search-results-live" id="rd-search-results-live"></div>
                                    </div>
                                    <button class="rd-search-form-submit mdi mdi-magnify" type="submit"></button>
                                </form>
                            </div> *@
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Section welcome-->
        <section class="section section-md bg-default context-dark section-height-1 box-transform-wrap bg-image" style="background-image: url(images/bg-index.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col offset-md-1">
                        <div class="post-erin">
                            <h5 class="post-erin-subtitle">welcome to</h5>
                            <h1 class="post-erin-title">Science — HTML Multipurpose Theme<br><span class="font-weight-light">for Ufology, Astronomy, Astrology, and Laboratory</span></h1><a class="button button-2 button-lg button-white-2 button-icon button-icon-left" href="single-post.html"><span class="icon mdi mdi-arrow-right"></span><span>Read more</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-transform" style="background-image: url(images/bg-index.jpg);"></div>
            <div class="comets comets-left comets-long"></div>
            <div class="comets comets-center comets-long"></div>
            <div class="comets comets-top comets-long"></div>
        </section>

        <!-- Niche Themes-->
        <section class="section section-xs section-first bg-gray-700">
            <div class="container">
                <h2 class="wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">Niche Themes</h2>
                <div class="row row-lg row-30">
                    <div class="col-sm-6 col-lg-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="box-layout box-sm">
                            <div class="box-layout-figure">
                                <img src="images/layout-1-270x370.jpg" alt="" width="270" height="370">
                            </div>
                            <div class="box-layout-caption">
                                <h6 class="box-layout-title"><a href="ufo.html">Ufology</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeInUp;">
                        <div class="box-layout box-sm">
                            <div class="box-layout-figure">
                                <img src="images/layout-2-270x370.jpg" alt="" width="270" height="370">
                            </div>
                            <div class="box-layout-caption">
                                <h6 class="box-layout-title"><a href="astrology.html">Astrology</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="box-layout box-sm">
                            <div class="box-layout-figure">
                                <img src="images/layout-3-270x370.jpg" alt="" width="270" height="370">
                            </div>
                            <div class="box-layout-caption">
                                <h6 class="box-layout-title"><a href="astronomy.html">Astronomy</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeInUp;">
                        <div class="box-layout box-sm">
                            <div class="box-layout-figure">
                                <img src="images/layout-4-270x370.jpg" alt="" width="270" height="370">
                            </div>
                            <div class="box-layout-caption">
                                <h6 class="box-layout-title"><a href="laboratory.html">Science Laboratory</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section About-->
        <section class="section section-xs section-last bg-gray-700">
            <div class="container">
                <div class="row row-30">
                    <div class="col-6 col-sm-4 wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="counter-creative">
                            <h2 class="counter-creative-number">
                                <span class="counter animated">30</span><span class="symbol">+</span>
                            </h2>
                            <div class="big counter-creative-title">HTML Pages</div>
                            <div class="counter-creative-icon mdi mdi-window-restore"></div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 wow fadeInUp" data-wow-delay=".05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeInUp;">
                        <div class="counter-creative">
                            <h2 class="counter-creative-number">
                                <span class="counter animated">4</span>
                            </h2>
                            <div class="big counter-creative-title">Niche Layouts</div>
                            <div class="counter-creative-icon mdi mdi-star-outline"></div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="counter-creative">
                            <h2 class="counter-creative-number">
                                <span class="counter animated">8</span>
                            </h2>
                            <div class="big counter-creative-title">Header &amp; Footer Variations</div>
                            <div class="counter-creative-icon mdi mdi-table"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Advantages-->
        <section class="section section-xl bg-default">
            <div class="container">
                <h2 class="wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">Advantages</h2>
                <div class="row row-xl row-30">
                    <div class="col-sm-6 col-lg-3 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <article class="box-icon-modern box-icon-modern-2">
                            <div class="box-icon-modern-icon mdi mdi-book-multiple"></div>
                            <h4 class="box-icon-modern-title"><a href="#">Advanced UI Kit</a></h4>
                            <p class="box-icon-modern-text">Make the pages of your website look more attractive with our new Advanced UI Kit.</p>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay=".05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeInLeft;">
                        <article class="box-icon-modern box-icon-modern-2">
                            <div class="box-icon-modern-icon mdi mdi-account-multiple"></div>
                            <h4 class="box-icon-modern-title"><a href="#">Free Updates </a></h4>
                            <p class="box-icon-modern-text">We provide all our customers with free lifetime updates for this template.</p>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                        <article class="box-icon-modern box-icon-modern-2">
                            <div class="box-icon-modern-icon mdi mdi-refresh"></div>
                            <h4 class="box-icon-modern-title"><a href="#">Bootstrap Toolkit</a></h4>
                            <p class="box-icon-modern-text">Intuitive and powerful Bootstrap toolkit offers endless website customization.</p>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay=".15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeInLeft;">
                        <article class="box-icon-modern box-icon-modern-2">
                            <div class="box-icon-modern-icon mdi mdi-history"></div>
                            <h4 class="box-icon-modern-title"><a href="#">Highly Responsive</a></h4>
                            <p class="box-icon-modern-text">Due to its responsiveness, this template perfectly fits any display and device.</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Pages-->
        <section class="section section-xl section-bottom-0 bg-gray-700 oh">
            <div class="container">
                <h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio &amp; Blog Layouts</h2>
                <div class="box-pages-wrap"><a class="box-pages wow fadeInUp" href="grid-blog.html" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><img src="images/pages-1-420x464.jpg" alt="" width="420" height="464"></a><a class="box-pages wow fadeInUp" href="single-post.html" data-wow-delay=".05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeInUp;"><img src="images/pages-2-420x464.jpg" alt="" width="420" height="464"></a><a class="box-pages wow fadeInUp" href="single-project.html" style="visibility: visible; animation-name: fadeInUp;"><img src="images/pages-3-420x464.jpg" alt="" width="420" height="464"></a><a class="box-pages wow fadeInUp" href="masonry-gallery.html" data-wow-delay=".05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeInUp;"><img src="images/pages-4-420x464.jpg" alt="" width="420" height="464"></a><a class="box-pages wow fadeInUp" href="cobbles-gallery.html" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><img src="images/pages-5-420x464.jpg" alt="" width="420" height="464"></a></div>
            </div>
        </section>

        <!-- Footers & Headers-->
        <section class="section section-xl bg-default">
            <div class="container">
                <h2 class="wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">Footers &amp; Headers</h2>
                <div class="row row-xl row-30 row-xl-60">
                    <div class="col-6 col-sm-4 col-md-3 wow fadeInDown" data-wow-delay=".15s" style="visibility: hidden; animation-delay: 0.15s; animation-name: none;">
                        <img src="images/section-1-210x138.png" alt="" width="210" height="138">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 wow fadeInDown" data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
                        <img src="images/section-2-210x138.png" alt="" width="210" height="138">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 wow fadeInDown" data-wow-delay=".05s" style="visibility: hidden; animation-delay: 0.05s; animation-name: none;">
                        <img src="images/section-3-210x138.png" alt="" width="210" height="138">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 wow fadeInDown" style="visibility: hidden; animation-name: none;">
                        <img src="images/section-4-210x138.png" alt="" width="210" height="138">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 wow fadeInUp" data-wow-delay=".15s" style="visibility: hidden; animation-delay: 0.15s; animation-name: none;">
                        <img src="images/section-5-210x138.png" alt="" width="210" height="138">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 wow fadeInUp" data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
                        <img src="images/section-6-210x138.png" alt="" width="210" height="138">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 wow fadeInUp" data-wow-delay=".05s" style="visibility: hidden; animation-delay: 0.05s; animation-name: none;">
                        <img src="images/section-7-210x138.png" alt="" width="210" height="138">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 wow fadeInUp" style="visibility: hidden; animation-name: none;">
                        <img src="images/section-8-210x138.png" alt="" width="210" height="138">
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Support-->
        <section class="section section-xs bg-primary-invariable context-dark">
            <div class="container">
                <div class="unit unit-spacing-3 align-items-center justify-content-center wow fadeInLeft" style="visibility: hidden; animation-name: none;">
                    <div class="unit-left"><span class="icon icon-xxl mdi mdi-headset"></span></div>
                    <div class="unit-body">
                        <h2>Dedicated 24/7 Support</h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- Page Footer-->
        <footer class="section footer-classic bg-gray-700-invariable text-md-left">
            <div class="container">
                <div class="row row-40">
                    <div class="col-sm-6 col-lg-3">
                        <h4>About Us</h4>
                        <p class="text-width-xl-90">Science is the leading online news resource dedicated to collecting and investigating facts of UFO sightings and other extraterrestrial phenomena based on thorough scientific research.</p>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <h4>Quick Links</h4>
                        <ul class="footer-classic-list-link">
                            <li><a href="#">News</a></li>
                            <li><a href="#">Documentary</a></li>
                            <li><a href="#">Sighting</a></li>
                            <li><a href="#">Incidents</a></li>
                            <li><a href="#">ISS Tracking</a></li>
                            <li><a href="#">Researching</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <h4>Contact Information</h4>
                        <div class="row row-20">
                            <div class="col-6 col-sm-12">
                                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center align-items-md-start contacts-info">
                                    <div class="unit-left"><span class="icon mdi mdi-map-marker"></span></div>
                                    <div class="unit-body"><a href="#">2130 Fulton Street<br>San Diego, CA 94117-1080 USA</a></div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-12">
                                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center align-items-md-start contacts-info">
                                    <div class="unit-left"><span class="icon mdi mdi-phone"></span></div>
                                    <div class="unit-body">
                                        <a href="tel:#">1-800-1324-765</a>, <a href="tel:#">1-800-7653-098</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-12">
                                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center align-items-md-start contacts-info">
                                    <div class="unit-left"><span class="icon mdi mdi-email-outline"></span></div>
                                    <div class="unit-body"><a href="mailto:#">info@demolink.org</a></div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-12 align-self-center">
                                <ul class="list-inline list-social inset-lg-top-10">
                                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                                    <li><a class="icon mdi mdi-facebook-messenger" href="#"></a></li>
                                    <li><a class="icon mdi mdi-linkedin" href="#"></a></li>
                                    <li><a class="icon mdi mdi-snapchat" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h4>Subscribe</h4>
                        <p>Sign up to newsletters and be the first to know about the latest news, special offers, and events.</p>
                        <form class="rd-form rd-mailform form-sm" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" novalidate="novalidate">
                            <div class="form-wrap">
                                <input class="form-input form-control-has-validation" id="subscribe-form-2-email" type="email" name="email" @* data-constraints="@Email @Required" *@><span class="form-validation"></span>
                                <label class="form-label rd-input-label" for="subscribe-form-2-email">E-mail</label>
                            </div>
                            <button class="button button-sm button-primary" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Rights-->
                <p class="rights"><span>©&nbsp; </span><span class="copyright-year">2024</span><span>&nbsp;</span><span>All rights reserved</span><span>.&nbsp;</span><a href="terms-of-use.html">Privacy Policy</a></p>
            </div>
        </footer>
    </div>
    <!-- PANEL-->
    <div class="layout-panel">
        <button class="layout-panel-toggle" data-custom-toggle=".layout-panel" data-custom-toggle-disable-on-blur="true"><span></span></button>
        <div class="layout-panel-content">
            <div class="theme-switcher-toggle">
                <button class="theme-switcher-item theme-switcher-dark active-theme" data-theme-name="dark"><span class="icon linearicons-sun"></span></button>
                <button class="theme-switcher-item theme-switcher-light" data-theme-name="light"><span class="icon linearicons-moon"></span></button>
            </div>
        </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="~/js/Home/core_min.js"></script>
    <script src="~/js/Home/HomeScript.js"></script>

    <a href="#" id="ui-to-top" class="ui-to-top fa fa-angle-up"></a>
</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>
