@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/IndexStyle.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="whole-wrap">
    <div id="title-container" class="title-container">
        <div id="exceptional-title" class="exceptional-title">
            <div class="inside-title">Exeptional</div>
            <div class="inside-title">High-End &</div>
            <div class="inside-title">High-Performance</div>
            <div class="inside-title">Web Apps</div>
        </div>
        <div id="title-details" class="title-details">
            Designing responsive web app and software for design-driven companies where attention to detail and passionate dedication matter.
        </div>
    </div>
    <div id="long-container" class="long-container">
        <div id="black-frame" class="black-frame same-Layer">
            <svg id="svg-frame">
                <foreignObject id="foreign-object" width="101%" height="101%">
                    <video id="video01" xmlns="http://www.w3.org/1999/xhtml" autoplay muted loop>
                        <source src="https://static.vecteezy.com/system/resources/previews/021/050/150/mp4/abstract-plexus-tech-background-with-glowing-blue-shiny-connecting-lines-and-dots-or-nodes-digital-data-network-connections-concept-this-modern-technology-is-full-hd-and-a-seamless-loop-free-video.mp4" type="video/mp4" />
                    </video>
                </foreignObject>
                <foreignObject id="responsive-development" width="100%" height="100%">
                    <video id="responsive-video" class="inside-video" xmlns="http://www.w3.org/1999/xhtml" autoplay muted loop width="150" height="150">
                        <source src="https://d1ytx91mb072w7.cloudfront.net/showreel-hero-final.mp4" type="video/mp4" />
                    </video>
                    <video id="AI-development" class="inside-video" xmlns="http://www.w3.org/1999/xhtml" autoplay muted loop width="150" height="150">
                        <source src="https://static.vecteezy.com/system/resources/previews/007/237/672/mp4/circuit-board-with-a-central-computer-processors-cpu-a-working-digital-motherboard-chip-with-thousands-of-illuminated-connections-and-a-purple-and-blue-background-3d-animation-free-video.mp4" type="video/mp4" />
                    </video>
                </foreignObject>
            </svg>
        </div>
        <div id="top-layer" class="top-layer same-Layer">
            <div id="stick-paper-0" class="stick-paper same-Layer" style="opacity:1">
                1
            </div>
            <div id="stick-paper-1" class="stick-paper same-Layer">
                2
            </div>
            <div id="stick-paper-2" class="stick-paper same-Layer">
                3
            </div>
            <div id="stick-paper-3" class="stick-paper same-Layer">
                4
            </div>
            <div id="stick-paper-4" class="stick-paper same-Layer">
                5
            </div>
        </div>
        <p id="test" class="test"></p>
    </div>
    <div id="buttons-wrap" class="buttons-wrap">
        <div class="dash-button-wrap" data-page-num="0">
            <div class="dash-button" data-page-num="0"></div>
        </div>
        <div class="dash-button-wrap" data-page-num="1">
            <div class="dash-button" data-page-num="1"></div>
            </div>
        <div class="dash-button-wrap" data-page-num="2">
            <div class="dash-button" data-page-num="2"></div>
        </div>
        <div class="dash-button-wrap" data-page-num="3">
            <div class="dash-button" data-page-num="3"></div>
        </div>
        <div class="dash-button-wrap" data-page-num="4">
            <div class="dash-button" data-page-num="4"></div>
        </div>
    </div>
</div>
<script type="module" src="/js/IndexPageScript.js"></script>
