@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/IndexStyle.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="whole-wrap">
    <div id="title-container" class="title-container">
        <div id="exceptional-title" class="exceptional-title">
            <div class="inside-title">Exeptional</div>
            <div class="inside-title">High-End &</div>
            <div class="inside-title">High-Performance</div>
            <div class="inside-title">Web Apps</div>
        </div>
        <div id="title-details" class="title-details">
            Designing responsive web app and software for design-driven companies where attention to detail and passionate dedication matter.
        </div>
    </div>
    <div id="long-container" class="long-container">
        <div id="small-screen-frame" class="small-screen-frame"></div>
        <div id="black-frame" class="black-frame"></div>
        <div id="screen-background" class="screen-background"></div>
        <div id="sliding-grid" class="sliding-geid">

        </div>
    </div>
</div>
<script type="module" src="/js/IndexPageScript.js"></script>
