@model Kamran_Portfolio.Models.UserInfo
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/CategorizingStyle.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<h1>Welcome @Html.DisplayFor(model => model.Name)</h1>


<div style="margin:50px 10px;">
    <h4>Implementation Team:</h4>
    <ul>
        <li><em><b>Dr. Hasan Fattahi Nafchi</b></em></li>
        <li><em><b>Ahmad Fattahi Nafchi</b></em></li>
    </ul>
    <h6>Developed with Kamran Alinaghi</h6>
    <button id="download-btn" type="button">Download Excle File</button>
    <iframe id="my_iframe" style="display:none;"></iframe>
</div>
<div id="project-selector" class="project-selector">
    <label id="select-optins-label" class="select-optins-label" for="select-options">Choose a project</label>
    <select id="select-options" name="select-options" class="select-options">
    </select>
</div>
<div id="project-name-textBox" class="project-name-textBox">
    <label for="tBox">Project Name: </label>
    <input id="tBox" name="tBox" type="text" />
</div>

<table id="table" class="flex-table">
    <tr>
        <th>Name</th>
        <th id="addclick" class="add-column">+</th>
    </tr>
    <tr>
        <td id="td">
            <input />
        </td>
    </tr>
</table>
<div id="save-container" class="save-container">
    <button id="save-project-button" class="save-project-button">Save Project</button>
    <button id="calculate-button">Calculate Si</button>
</div>

<div id="result-table" class="result-table">

</div>



<div id="overal" style="visibility:hidden;z-index:1">
    <div id="overal-black" class="overal-black"></div>
    <div class="data-input">
        <div class="input-frame">
            <label for="name-input">Property Name</label>
            <input id="name-input" type="text" />
            <label id="value-label" for="value-input">Property type</label>
            <select id="value-input">
                <option value="n">quantitative</option>
                <option value="q">qualitative</option>
            </select>
            <button id="save-button" class="save-button">Save</button>
            <button id="delete-button" class="save-button">Delete</button>
        </div>
    </div>
</div>



<script>
    const userId = @Html.DisplayFor(model => model.Id);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" src="~/js/CategorozingScript.js"></script>
