@model Kamran_Portfolio.Models.UserInfo
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/CategorizingStyle.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://kamran-alinaghi.ca/js/list.js"></script>
</head>

<h1>Welcome @Html.DisplayFor(model => model.Name)</h1>
<div id="project-selector" class="project-selector">
    <label id="select-optins-label" class="select-optins-label" for="select-options">Choose a project</label>
    <select id="select-options" name="select-options" class="select-options">

    </select>
</div>
<div id="project-name-textBox" class="project-name-textBox">
    <label for="tBox">New Project Name: </label>
    <input id="tBox" name="tBox" type="text" />
</div>

<table id="table" class="flex-table">
    <tr>
        <th>Name</th>
        <th id="addclick" class="add-column">+</th>
    </tr>
    <tr>
        <td id="td">
            <input />
        </td>
    </tr>
</table>
<div id="save-container" class="save-container">
    <button id="save-project-button" class="save-project-button">Save Project</button>
</div>

<p id="test">

</p>

<div id="overal" style="visibility:hidden;z-index:1">
    <div id="overal-black" class="overal-black"></div>
    <div class="data-input">
        <div class="input-frame">
            <label for="name-input">Property Name</label>
            <input id="name-input" type="text" />
            <label id="value-label" for="value-input">Property type</label>
            <select id="value-input">
                <option value="n">quantitative</option>
                <option value="q">qualitative</option>
            </select>
            <button id="save-button" class="save-button">Save</button>
            <button id="delete-button" class="save-button">Delete</button>
        </div>
    </div>
</div>



<script>
    const userId = @Html.DisplayFor(model => model.Id);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" src="~/js/CategorozingScript.js"></script>
