@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    #main{
        width:98vw;
        height:80vh;
    }
    #root{
        width:40vw;
    }
</style>
<h1>
    Table test
</h1>
<button id="addButton">+</button>
<main id="main">
    <div id="root">

    </div>
</main>
<script type="module" src="~/js/Elements/TableTest.js"></script>
