@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h1>Tech</h1>

<input id="time-frame-input" type="text" placeholder="Intervals" />
<input id="count" type="number" placeholder="Count"/>
<button id="get">Get from API</button>
<p id="txt"></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" src="~/js/TechnicalAnalysis/PageScript.js"></script>