body {
    font-family: Arial;
    overflow-x: hidden;
}

.whole-wrap {
    display: grid;
    grid-template-columns: 100vw;
    position: relative;
    top: 42px;
    left: -8px;
    width: 100vw;
}

.title-container {
    /*background-color: rgba(0,255,0,0.5);*/
    height: 40vw;
}

.exceptional-title {
    display: grid;
    grid-template-columns: auto;
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    font-family: Gabriola;
    background-image: linear-gradient(to top right,rgb(0,5,50), dodgerblue);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding: 3vw 0px;
    user-select: none;
}

.inside-title {
    height: 6vw;
}

.long-container {
    height: 600vh;
    /*background-color: bisque;*/
    top: 0px;
    vertical-align: central;
}

.same-Layer {
    grid-column: 1;
    grid-row: 1;
}

.title-details {
    color: rgb(150,150,150);
    font-size: 1.5vw;
    text-align: center;
    padding: 0px 15vw;
    user-select: none;
}

.black-frame {
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    border-width: 20px;
    position: relative;
    z-index: 0;
}

.inside-video {
    position: relative;
    box-shadow: 0px 0px 10px white;
}

.blur-me {
    /*-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);*/
    filter: blur(5px);
    opacity: 0.5;
}

.top-layer {
    z-index: 1;
    /*background-color: aqua;*/
    position: relative;
    filter: blur(100px);
    opacity: 0;
    display: grid;
    grid-template-columns: auto;
}

.stick-paper {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    max-width: 400px;
    height: 70%;
    box-shadow: 0px 0px 20px rgb(0,0,100);
    opacity: 0;
}

.opacity-to-ziro {
    animation-name: OpacityB0;
    animation-duration: 1s;
}

.opacity-to-one {
    animation-name: Opacity0;
    animation-duration: 1s;
}

.five-degree {
    animation-name: Rotate5;
    animation-duration: 1s;
}

.five-degree-backward {
    animation-name: RotateB5;
    animation-duration: 1s;
}

.ten-degree {
    animation-name: Rotate10;
    animation-duration: 1s;
}

.ten-degree-backward {
    animation-name: RotateB10;
    animation-duration: 1s;
}

:root {
    --anim-start-deg-0: 0deg;
    --anim-end-deg-0: -5deg;

    --anim-start-deg-1: 0deg;
    --anim-end-deg-1: -5deg;

    --anim-start-deg-2: 0deg;
    --anim-end-deg-2: -5deg;

    --anim-start-deg-3: 0deg;
    --anim-end-deg-3: -5deg;

    --anim-start-deg-4: 0deg;
    --anim-end-deg-4: -5deg;
}

.rotate-0{
    animation-name:Rotate0;
    animation-duration:1s;
}

.rotate-0-alt {
    animation-name: Rotate0alt;
    animation-duration: 1s;
}

.rotate-1 {
    animation-name: Rotate1;
    animation-duration: 1s;
}

.rotate-1-alt {
    animation-name: Rotate1alt;
    animation-duration: 1s;
}

.rotate-2 {
    animation-name: Rotate2;
    animation-duration: 1s;
}

.rotate-2-alt {
    animation-name: Rotate2alt;
    animation-duration: 1s;
}

.rotate-3 {
    animation-name: Rotate3;
    animation-duration: 1s;
}

.rotate-3-alt {
    animation-name: Rotate3alt;
    animation-duration: 1s;
}

.rotate-4 {
    animation-name: Rotate4;
    animation-duration: 1s;
}

.rotate-4-alt {
    animation-name: Rotate4alt;
    animation-duration: 1s;
}

@keyframes Rotate0 {
    from {
        rotate: var(--anim-start-deg-0);
    }

    to {
        rotate: var(--anim-end-deg-0);
    }
}

@keyframes Rotate0alt {
    from {
        rotate: var(--anim-start-deg-0);
    }

    to {
        rotate: var(--anim-end-deg-0);
    }
}

@keyframes Rotate1{
    from {
        rotate: var(--anim-start-deg-1);
    }

    to {
        rotate: var(--anim-end-deg-1);
    }
}

@keyframes Rotate1alt {
    from {
        rotate: var(--anim-start-deg-1);
    }

    to {
        rotate: var(--anim-end-deg-1);
    }
}

@keyframes Rotate2 {
    from {
        rotate: var(--anim-start-deg-2);
    }

    to {
        rotate: var(--anim-end-deg-2);
    }
}

@keyframes Rotate2alt {
    from {
        rotate: var(--anim-start-deg-2);
    }

    to {
        rotate: var(--anim-end-deg-2);
    }
}

@keyframes Rotate3 {
    from {
        rotate: var(--anim-start-deg-3);
    }

    to {
        rotate: var(--anim-end-deg-3);
    }
}

@keyframes Rotate3alt {
    from {
        rotate: var(--anim-start-deg-3);
    }

    to {
        rotate: var(--anim-end-deg-3);
    }
}

@keyframes Rotate4 {
    from {
        rotate: var(--anim-start-deg-4);
    }

    to {
        rotate: var(--anim-end-deg-4);
    }
}

@keyframes Rotate4alt {
    from {
        rotate: var(--anim-start-deg-4);
    }

    to {
        rotate: var(--anim-end-deg-4);
    }
}

@keyframes OpacityB0 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes Opacity0 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.buttons-wrap {
    width: 60vw;
    max-width: 700px;
    min-width: 100px;
    height: 50px;
    max-height: 100px;
    background-color: white;
    margin: 0px auto;
    position: relative;
    top: -100px;
    /*box-shadow: 0px 0px 10px rgb(200,200,200);*/
    border-radius:10px;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
}

.dash-button-wrap {
    width:100%;
    height:100%;
}

.dash-button-wrap:hover {
    animation-name: PageButton;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.dash-button{
    background-color:blueviolet;
    width:60%;
    height:10px;
    border-radius:5px;
    margin:20px auto;
}

@keyframes PageButton{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.1);
    }
}

.test {
    background-color: turquoise;
    position: fixed;
    top: 10px;
    left: 10px;
}
